{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if edit %}
        Editing {{ entryTitle }}
    {% else %}
        New entry
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
    <div class="alert alert-success" role="alert">
        You may edit your wiki,<a href="{% url 'newEntry' %}" class="alert-link">To create your new wiki, Please Click here</a> 
    </div>
        <center><h1>Editing {{ entryTitle }}</h1></center>
    {% else %}
    <div class="alert alert-primary" role="alert">
        Create your own wiki! All the best. 
    </div>
        <center><h1 class="NewEhead">Create your Entry here.</h1></center>
    {% endif %}
    <br>
    <div class="form-group">
        <form action="{% url 'newEntry' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <center><input type = "submit" class="btn btn-outline-primary"></center>
        </form>
    </div>        
{% endblock %}